.album > .container > .row > .col > .card {
    border: 2px solid rgb(26, 26, 26);
    background-color: rgb(9, 9, 9);
}

.card-body {
    background-color: rgb(9, 9, 9);
    border-radius: 0 0 5px 5px ;
    border-top: 2px solid rgb(26, 26, 26);
}

.card-text {
    color: beige;
}

.artist-name {
    color: rgb(23, 193, 111);
}

.free-text > h1 {
    color: beige !important;
}

.cards-part > .container {
    height: auto;
}
