* {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* height: auto; */
}

* > h1 {
    font-family: "Syne Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

* > h3 {
    overflow-y: hidden;
    font-family: "Sono", monospace;
    font-weight: 100;
    font-style: normal;
}

* > h2 {
    overflow-y: hidden;

    overflow-y: hidden;
    font-family: "Sono", monospace;
    font-weight: 100;
    font-style: normal;
}

.main-container {
    margin: 0 !important;
    padding: 0 !important;
}

.logo {
    overflow-y: hidden;
}

.spicy-part .spicy-video .spicy-video-box video{
    overflow-y: hidden;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    /* overflow-y: scroll; */
}

h1 {
    font-weight: 800;
    overflow-y: hidden;
}

.navbar {
    background-color: rgb(9,9,9);
    position: absolute;
}

.navbar-nav {
    justify-content: center;
    align-items: center;
}

.navbar-nav > a {
    margin-left: 2vh;
    margin-right: 2vh;
}


.main-container {
    /* padding-left: 2vh;
    padding-right: 2vh; */
    background-color: rgb(5, 5, 5);
    color: beige;
}

.main-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    /* width: 100vh; */
    height: 100vh;
    /* background-color: chartreuse; */
    background-color: rgba(0, 0, 0, 0.877);    
    background-image: url(../data/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;

}

.main-part > .logo > img {
    overflow-y: hidden;
}

.main-text {
    margin-top: 2vh;
    text-align: center;
}

.main-text > h1 {
    color: rgb(23, 193, 111);
}

.main-btns {
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    /* width: 80vh; */
    margin: 10vh;
}

.main-btns > button {
    color: beige;
    background-color: rgba(0, 0, 0, 0);
    padding: 1vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(46, 46, 46);
    /* width: auto; */
}

.btn-linux, .btn-windows {
    height: 80px;
    overflow-y: hidden;
    font-family: "Sono", monospace;
}

.btn-linux > img {
    margin-left: 10px;
    height: 100%;
    /* overflow-y: hidden; */
}

.btn-windows > img {
    padding-left: 10px;
    height: 100%;
    /* overflow-y: hidden; */
}


.logo {
    display: flex;
    height: 200px;
    width: 200px;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
}

.logo > img {
    height: 120%;
    width: auto;
    overflow-y: hidden;
    
}

.spicy-part {
    height: 100vh;
    align-items: center;
    /* background-color: chocolate; */
    background-color: rgb(9,9,9);
    overflow: hidden;
}

.spicy-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spicy-text {
    text-align: center;
}

.spicy-text > h1 {
    color: rgb(23, 193, 111);
}


.spicy-video-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 500px;
    /* background-color: aquamarine; */
}



.interface-part {
    height: 100vh;
    align-items: center;
    /* background-color: brown; */
    justify-content: center;
}

.interface-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-text {
    text-align: center;
}

.interface-text > h1 {
    color: rgb(23, 193, 111);
}


.interface-video-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 800px;
    /* background-color: aquamarine; */
}

/* .interface-video-box > video {
    height: 100% !important;
    width: 100% !important;
}

.spicy-video-box > video {
    height: 100% !important;
    width: 100% !important;
} */

.free-part {
    align-items: center;
    justify-content: center;

    height: 100vh;
    /* background-color: rgb(9,9,9); */

    background-color: rgba(0, 0, 0, 0.877);    
    background-image: url(../data/bg2.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.free-photo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}

.free-photo-box > img {
    height: 50%;
}

.free-text {
    text-align: center;
}

.free-text > h1 {
    color: rgb(23, 193, 111);
}


video {
    border-radius: 6px;
    border: 2.5px solid rgb(14, 14, 14);
}

.footer {
    height: 40vh;
    justify-content: center;
    align-items: center;
}


.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    opacity: 40%;
}

.footer-logo > img {
    height: 100%;
    overflow-y: hidden;
}

.links > a > img {
    height: 100px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 40%;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 40%;
}


.cards-part {
    height: auto;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 1000;
    transition: 1.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader > h1 {
    font-size: xx-large;
    color: beige;
}

.pre-img {
    width: 200px;
    height: 200px;
    /* margin-right: 15px; */
}

.pre-img > img {
    height: auto;
    width: 100%;
}

/* щас шаманить буду) */

.spicy-part > .spicy-photo > *::after,
.spicy-part > .spicy-photo > *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spicy-part > .spicy-photo > .container > .image-container > img {
    display: block;
    max-width: 100%;
}

.spicy-part > .spicy-photo {
    display: grid;
    place-items: center;
    /* min-height: 100vh; */
    padding: 0;
}

.spicy-part > .spicy-photo > .container {
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 0.3rem;
    --position: 50%;
    padding: 0;
    /* margin: 0; */
    /* margin-left: ; */
    /* margin-right: 50%; */
    border: 2px solid rgb(46, 46, 46);
    box-sizing: border-box;
}

.image-container {
    max-width: 800px;
    max-height: 50vh;
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;

    aspect-ratio: 1/1;
}

.spicy-part > .spicy-photo > .container > .image-container > .slider-image {
    width: 100%;
    height: 100%;
    /* inset: 0; */
    object-fit: cover;
    object-position: left;
}

.spicy-part > .spicy-photo > .container > .image-container > .image-before {
    position: absolute;
    inset: 0;
    width: var(--position);
    /* height: 100%; */
}

.spicy-part > .spicy-photo > .container > .image-container > .image-after {
    /* position: absolute; */
    /* inset: 0; */
    /* width: var(--position); */
    /* width: 500px; */
    /* height: 500px; */
    /* object-position: center; */
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;

    /* for firefox */
    /* width: 100%; */
    /* height: 100%; */
}

.slider-line {
    position: absolute;
    inset: 0;
    width: .1rem;
    height: 100%;
    background-color: rgb(46, 46, 46);
    z-index: 10;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}

.slider-button {
    position: absolute;
    background-color: rgb(14, 14, 14);
    color: beige;
    padding: .5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
}

.slider:focus-visible ~ .slider-button {
    /* here active style */
}





@media screen and (max-width: 576px){

    /* уменьшаем размеры секторов вебсайта, чтобы не было такого большого отсутпа на телефонах */
    .spicy-part {
        height: auto;
        padding-bottom: 10vh;
    }

    .interface-part {
        height: auto;
        padding-top: 10vh;
    }
    /* ======================================================================================= */


    .spicy-part > .spicy-photo > .container {
        margin-left: 15%;
        margin-bottom: 4vh;
        height: 300px;
        width: 300px;
        margin-top: 4vh;
    }

    /* уменьшаем текст для смартиков */
    .main-text > h1 {
        font-size: x-large;
    }

    .main-text > h2 {
        font-size: large;
    }

    .main-text > h3 {
        font-size: large;
    }

    .spicy-text > h1 {
        font-size: x-large;
    }

    .spicy-text > h3 {
        font-size: large;
    }

    .interface-text > h1 {
        font-size: x-large;
    }

    .interface-text > h3 {
        font-size: large;
    }

    .free-text > h1 {
        font-size: x-large;
    }

    .free-text > h3 {
        font-size: large;
    }

    .footer > .copyright > h3 {
        font-size: large;
    }
    /* ============================ */


    /* дальше настройки фото */

    .footer {
        height: 30vh;
    }

    .footer > .footer-logo > img {
        height: 100px;
    }

    .links > a > img {
        height: 80px;
    }
}

@media screen and (min-width: 576px){

    /* .main-text > h1 {
        font-size: x-large;
    }

    .main-text > h2 {
        font-size: large;
    }

    .spicy-text > h1 {
        font-size: x-large;
    }

    .spicy-text > h3 {
        font-size: large;
    }

    .interface-text > h1 {
        font-size: x-large;
    }

    .interface-text > h3 {
        font-size: large;
    } */


    /* дальше настройки фото */

    .interface-video-box > video {
        height: 60%;
    }

    .spicy-video-box > video {
        height: 60%;
    }

    .footer {
        height: 60vh;
    }

    .footer > .footer-logo > img {
        height: 100px;
    }

    .links > a > img {
        height: 80px;
    }

}

@media screen and (min-width: 768px){
    .interface-video-box > video {
        height: 80%;
    }

    .spicy-video-box > video {
        height: 80%;
    }

}

@media screen and (min-width: 992px){
    .interface-video-box > video {
        height: 90%;
    }

    .spicy-video-box > video {
        height: 90%;
    }
    
    .footer {
        height: 40vh;
    }

    .spicy-part > .spicy-photo > .container {
        height: auto;
    }

    .spicy-part > .spicy-photo > .container > .image-container {
        width: auto;
        height: 1200px;
    }
}


@media screen and (min-width: 1200px){
    .interface-video-box > video {
        height: 100%;
    }

    .spicy-video-box > video {
        height: 100%;
    }

    .footer {
        height: 40vh;
    }
}


@media screen and (min-width: 1400px){
    .interface-video-box > video {
        height: 100%;
    }

    .spicy-video-box > video {
        height: 100%;
    }

    .footer {
        height: 40vh;
    }
}

@media screen and (min-width: 1680px){
    .interface-video-box > video {
        height: 100%;
    }

    .spicy-video-box > video {
        height: 80%;
    }

    .footer {
        height: 40vh;
    }
}

@media screen and (min-width: 1800px){
    .spicy-video-box > video {
        height: 90%;
    }

    .footer {
        height: 40vh;
    }
}

@media screen and (min-width: 2000px){
    .spicy-video-box > video {
        height: 100%;
    }

    .footer {
        height: 40vh;
    }
}

@media screen and (min-width: 2400px){
    .spicy-video-box > video {
        height: 100%;
    }

    .footer {
        height: 40vh;
    }
}

@media screen and (min-width: 2800px){
    .spicy-video-box > video {
        height: 100%;
    }

    .footer {
        height: 40vh;
    }
}